:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f0f0f0;
}

img {
  display: block;
}

.main {
  white: 100%;
  padding: 40px 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}
.main__one {
  background-color: var(--purple-500);
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  line-height: 30px;
}
.main__one img {
  width: 140px;
  display: block;
  margin-top: 12px;
}
.main__container h1,
span,
i,
p {
  font-size: 2em;
  font-weight: 500;
}
.main__container span {
  color: var(--yellow-500);
}
article {
  border-radius: 8px;
}
.main__paragraph {
  font-size: 0.8em;
  font-weight: 400;
}

/* MAIN TWO */
.main__two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 14px;
  background-color: var(--white);
}
.main__two img {
  flex: 1;
  border-radius: 24px;
  width: 100%;
  max-width: 300px;
}
.main__title2 {
  font-size: 1.1em;
  align-text: left;
  line-height: 16px;
  font-weight: 500;
}

/* MAIN TRHEE */
.main__three {
  background-color: var(--yellow-500);
  padding: 14px 14px 0 14px;
  overflow: hidden;
}
.main__three img {
  width: 150px;
  margin-top: 10px;
}

/* MAIN TRHEE */
.main__four {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-100);
  justify-content: center;
  align-items: center;
  padding: 14px;
  text-align: center;
}
.main__four img {
  width: 100%;
  max-width: max-content;
  padding: 14px 0;
}
.main__title3 {
  color: black;
  font-weight: 500;
  font-size: 1.05;
}

.main__five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background: var(--purple-500);
}
.main__five img {
  width: 80%;
}
.main__follow {
  color: var(--white);
  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
  padding-top: 24px;
}

/* MAIN SEX */
.main__sex {
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 14px;
  /* align-items: center; */
  justify-content: center;
  gap: 14px;
}
.main__sex img {
  width: 55%;
}
.main__audience {
  font-size: 2.2em;
  font-weight: 500;
}

/* MAIN SEVEN */
.main__seven {
  background: var(--yellow-100);
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}
.main__seven img {
  width: 58%;
  max-width: 150px;
}
.main__quicker {
  font-weight: 500;
  font-size: 1.4em;
}
.main__seven i {
  font-weight: 500;
  font-size: 1.03em;
  color: var(--purple-500);
}

/* MAIN EIGHT */
.main__eight {
  background: var(--yellow-500);
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 14px;
}
.main__eight img {
  width: 60%;
}
.main__eight h2 {
  font-weight: 500;
}

@media (width > 768px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 220px 40px 80px 120px;
    place-items: center;
  }
  .main__one {
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
  }
  .main__two {
    grid-column: 2/3;
    grid-row: 2/4;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .main__two img {
    width: 150%;
    margin-left: 50px;
  }
  .main__three {
    grid-column: 3/4;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
  }
  .main__four {
    grid-column: 4/5;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
  }
  .main__four img {
    width: 200%;
    padding-left: 76px;
  }
  .main__five {
    grid-column: 3/5;
    grid-row: 4/5;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-items: center;
  }
  .main__follow {
    padding: 0;
    font-size: 1.5em;
    text-align: left;
  }
  .main__five > img {
    width: 36%;
    padding-right: 10px;
  }
  .main__sex {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .main__seven {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
  .main__eight {
    grid-column: 1/2;
    grid-row: 3/5;
    width: 100%;
    height: 100%;
  }
  .main__eight img {
    width: 62%;
    margin: 0 auto;
  }
  .main__eight .main__title {
    font-size: 1.4em;
  }
}
